
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">
                
                <form class="questionnaire">

                    <div id="image">

                        <div id="text_intro" class="add-option-ignore">
                            <div id="text_content" class="editable edit-html">
                                <p>This questionnaire template allows you to assess how the learner is getting on.</p>
                            </div>
                        </div>

                        <div class="add-option-template hide">
                            <div id="answer_{id}" class="answer text_box">
                                <span class="input">radio:answer</span>
                                <label for="answer_{id}">Answer {number}</label>
                            </div>
                        </div>

                        <div id="answer_1" class="answer text_box">
                            <span class="input">radio:answer</span>
                            <label for="answer_1">Answer 1</label>
                        </div>

                        <div id="answer_2" class="answer text_box">
                            <span class="input">radio:answer</span>
                            <label for="answer_2">Answer 2</label>
                        </div>

                        <a id="save_button" class="save_button">Find out if you are right!</a>

                    </div>

                    <div id="correct" class="modal hide fade answered_correct" tabindex="-1" role="dialog" aria-labelledby="correct_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="correct_label">Correct!</h3>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="popup_image" id="correct_image"></div>
                            <div class="popup_text" id="correct_text">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>

                    <div id="wrong" class="modal hide fade answered_incorrect" tabindex="-1" role="dialog" aria-labelledby="wrong_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="wrong_label">Wrong!</h3>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="popup_image" id="wrong_image"></div>
                            <div class="popup_text" id="wrong_text">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>

                </form>

            </div>
            <!-- START default Text_and_Images Image_Behind -->