form {
    margin:0;
}

#background {
    position:relative;
}

.text_box, #text_intro {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px 10px 10px 10px;
    color: #000;
    left: 50px;
    top: 300px;
    padding: 9px 24px 7px 24px;
    position: absolute;
    width:auto;
    min-height:25px;
    margin-right: 0;
}
#text_intro {
    background-color: rgb(255, 255, 255);
    padding:14px 20px 5px;
    left: 20px;
    top: 20px;
}
#answer_1 {
    top:100px;
    left:50px;
}

#answer_2 {
    top:170px;
    left:85px;

}
.answer span.input {
    display: block;
    position:absolute;
    left:12px;
}
label {
    display: block;
    float: left;
    font-size: 1.2em;
    padding-left: 10px;
    padding-top:4px;
}

#image {
    width:100%;
    height:600px;

    height:500px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
.button_wrapper {
    padding-top: 0;
}
.save_button {
    position: absolute;
    left: 115px;
    top: 240px;
}

@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
        max-width:500px;
    }
}
@media (max-width: 480px) {
    html .text_box, html #text_intro {
        left: 0px;
        bottom:0px;
        width:auto;
        margin-bottom:20px;
        border-radius:0;
        top:auto;
        position:relative;
    }
    html #image {
        padding-top:20px;
        padding-bottom: 20px;
        height:auto;
        min-height:400px;
    }
    html #save_button {
        position:relative;
        top:10px;
        left:20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    html #image {
        border-radius:0;
    }
}