/*


#text_content {
	padding-left:20px;
	width: 300px;
	float:left;
}
*/
#image {
	height:300px;
}

#text_content {
	padding: 14px 0;
}

.text_pad {
	padding-right:20px;
}

@media (max-width: 768px) {
	html .text_pad {
		padding-left: 20px;
	}
}

@media (max-width: 480px) {
    html #image {
        width: 100%;
    }
}