
            <!-- START default Text_and_Images Image_Left -->
            <div id="background" class="row">

                <div id="image" class="span4">&nbsp;</div>

                <div id="text_content" class="span7">
                    <div class="text_pad">
                        <div id="text_container">
                            <p>This is an ideal place to put some text to introduce your learning topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse   toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- START default Text_and_Images Image_Left -->