



#body {
	background-color: #3d4968;
	background-image:url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	line-height:1.4em;
}

/* toggle page menu */
/* toggle page menu */
/* toggle page menu */

#project_navigation {
	position:fixed;
	width:360px;
	height:100%;
	top:0px;
	left:-420px;
	background: rgba(0,0,0,0.8);
	z-index:100;
	font-size:1em;
	
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
#project_navigation.open {
	left:0px;
}

#project_navigation ul {
	list-style: none outside none;
	margin:0;
	padding:16px 20px 20px 20px;
}

#project_navigation ul ul {
	display: none;
}
#project_navigation ul li.section_active ul {
	display: block;
	margin-top:5px;
	padding-top: 5px;
	border-top: 1px solid #aaa;
}

#project_navigation li li {

	padding:2px 0 0 20px;
	margin:0px;
	color:#fff;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
	
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;

}
#project_navigation li.enabled, #project_navigation li.active  {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
#project_navigation li > i {
	text-indent: -5000px;
}

#project_navigation li.active > i {
	text-indent: 0px;
}
#project_navigation li.is_section > i {
	margin-top: 0px;
}
#project_navigation li > a {
	color:#fff;
}

#project_navigation li > a:hover {
	color:#ccc;
	text-decoration: none;
}

#project_navigation li.is_section > a {
	font-size:1.25em;
	padding:0 0 0 0px;
	padding-top:5px;
	display: inline-block;
}

/* footer navigation */
/* footer navigation */
/* footer navigation */
/* footer navigation */
#footer_navigation {

	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:50px;
	background: rgb(30,49,68); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,49,68,1) 0%, rgba(30,49,69,1) 50%, rgba(21,31,43,1) 51%, rgba(25,40,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,49,68,1)), color-stop(50%,rgba(30,49,69,1)), color-stop(51%,rgba(21,31,43,1)), color-stop(100%,rgba(25,40,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,49,68,1) 0%,rgba(30,49,69,1) 50%,rgba(21,31,43,1) 51%,rgba(25,40,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,49,68,1) 0%,rgba(30,49,69,1) 50%,rgba(21,31,43,1) 51%,rgba(25,40,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,49,68,1) 0%,rgba(30,49,69,1) 50%,rgba(21,31,43,1) 51%,rgba(25,40,56,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,49,68,1) 0%,rgba(30,49,69,1) 50%,rgba(21,31,43,1) 51%,rgba(25,40,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3144', endColorstr='#192838',GradientType=0 ); /* IE6-9 */

	z-index:200;
}

#menu_toggle {
	position:absolute;
	left:10px;
	top:10px;
}
#footer_navigation ul {
	margin-top:5px;
}
#footer_navigation .pager li {

	width:40px;
	height:40px;
	border-radius: 20px;
	background: rgb(20,57,89); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(20,57,89,1) 0%, rgba(62,79,96,1) 50%, rgba(43,59,86,1) 51%, rgba(13,22,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,57,89,1)), color-stop(50%,rgba(62,79,96,1)), color-stop(51%,rgba(43,59,86,1)), color-stop(100%,rgba(13,22,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(20,57,89,1) 0%,rgba(62,79,96,1) 50%,rgba(43,59,86,1) 51%,rgba(13,22,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(20,57,89,1) 0%,rgba(62,79,96,1) 50%,rgba(43,59,86,1) 51%,rgba(13,22,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(20,57,89,1) 0%,rgba(62,79,96,1) 50%,rgba(43,59,86,1) 51%,rgba(13,22,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(20,57,89,1) 0%,rgba(62,79,96,1) 50%,rgba(43,59,86,1) 51%,rgba(13,22,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143959', endColorstr='#0d1622',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	overflow:hidden;
	color: #FFFFFF;
    font-weight: bold;
}

#footer_navigation .pager li a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;

	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
#footer_navigation .pager li.enabled a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
#footer_navigation .pager li.status {
	width:80px;
	height:30px;
    padding-top: 10px;
}
#footer_navigation .pager li > a, .pager li > span {
	background-color:transparent;
	border:none;
	color:#fff;
	padding-top:10px;
}

/* header */
/* header */
/* header */
/* header */

#project_header {
	height:120px;
	position:relative;
}
#project_logo {
	width:250px;
	position:absolute;
	height:80px;

	left:0px;
	top:20px;

	background-image:url(images/logo.png);
	background-repeat:no-repeat;
}
#project_title {
	text-align:right;
	color:#fff;
	position:absolute;
	right:0px;
	top:30px;
}



#project_title h1 {
	font-weight:normal;
	text-shadow: #666 0.05em 0.05em 0.05em;
	font-size: 2.32em;
	line-height: 1em;
}

/* page content */
/* page content */
/* page content */
/* page content */

#page_title_holder {
	border-radius:10px 10px 0px 0px;
	background-color:#eee;
	position:relative;
}
#page_title {
	padding-top: 16px;
	padding-bottom: 16px;
}
#buttons {
	position:absolute;
	right:18px;
	top:22px;
	text-align: right;
}
#page_title h2 {
	padding:0;
	margin:0;
	font-weight:normal;
}

#page_wrapper {
	min-height: 400px;
	/*background-color: #eee;*/
	border-radius:0px 0px 10px 10px;
	background-color: #fff;
}
@media (max-width: 480px) {
	html #page_wrapper {
		border-radius:0;
	}
}

.page_outer {
	padding-bottom:80px;
}

.template_wrapper {
	position:relative;
}


/* questionnaire styles */
.answer {
    width:200px;
    min-height:30px;
    margin-right:20px;
    margin-bottom:20px;
}

.answer span.input {
	display:none;
}

.save_button {
    
    display:inline-block;

    width:auto;
    height:auto;

    text-align: center;
    color:#fff;
    font-weight: bold;
    font-size:1.2em;
    padding: 10px 24px 10px 16px;
    border-radius: 10px 10px 10px 10px;

    background-color:#0c0;
    
    border: 1px solid rgba(50,50,50,0.3);
    box-shadow: 1px 3px 5px 1px rgba(60, 30, 30, 0.1);

    text-decoration: none;
    cursor: pointer;
}
.save_button:hover {
    text-decoration: none;

}

.button_wrapper {
	padding-top:10px;
	padding-bottom: 15px;
}

span.resource_info {
	color:#AAA;
	font-style:italic;
	font-size:0.9em;
}

i.icon-pdf, i.icon-doc, i.icon-ppt, i.icon-xls {
    background-image: url("images/icons.png");
    background-position: 0 0;
    height: 16px;
    width: 16px;
}
html i.icon-doc {
	background-position: -20px 0;
}
html i.icon-xls {
	background-position: -40px 0;
}
html i.icon-ppt {
	background-position: -60px 0;
}



@media (max-width: 767px) { 
	/*body:before { content: "Rule: max-width: 767px; "; }*/

	#project_header {
		height:170px;
	}
	#project_title {    
		top: 95px;
		left: 0;
		text-align: left;
	}
	#page_title {
		margin-left: 20px;
	}
	h1 {
		margin-left: 20px;
    	font-size: 35.5px;
	}
	h2 {
		font-size:24px;
	}
}

@media (max-width: 480px) {
	/*body:before { content: "Rule: max-width: 480px; "; }*/

	#project_header {
		height:auto;
	}
	html #project_logo {
		position:relative;
		left:0
		top:0;
	}
	#project_title {    
		padding-bottom: 0;
    	padding-top: 5px;
		position: relative;
		left: 0;
		top:0;
		text-align: left;
	}
	h1 {
    	font-size: 20px;
	}
	h2 {
		font-size:19px;
	}
	body {
		padding-left:0;
		padding-right:0;
	}
	#page_title_holder {
		border-radius: 0;
	}
	#page_title {
	    padding-bottom: 6px;
	    padding-top: 6px;
	}
	#page_wrapper {
		border-radius: 0;
	}
	#buttons {
	    display:none;
	}

}
@media (min-width: 980px) and (max-width: 1199px) {
	html #page_wrapper {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}
@media (min-width: 1200px) {
	html #page_wrapper {
		font-size: 1.4em;
		line-height: 1.2em;
	}
}

/*
@media (min-width: 768px) and (max-width: 979px) {
	body:before { content: "CSS Rule: min-width: 768px and max-width: 979px; "; }

}
@media (min-width: 480px) and (max-width: 768px) {
	body:before { content: "CSS Rule: min-width: 480px and max-width: 768px; "; }

}
@media (max-width: 480px) {
	body:before { content: "CSS Rule: max-width: 480px; "; }
}
@media (min-width: 980px) and (max-width: 1199px) {
	body:before { content: "CSS Rule: min-width: 980px and max-width: 1199px; "; }
}

@media (min-width: 1200px) {
	body:before { content: "CSS Rule: min-width: 1200px; "; }
}
*/
