
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">
                    <div class="add-option-template hide" data-parent="#carousel_inner">
                        <div class="item hide" id="carousel_item_{id}">
                            <div id="carousel_image_{id}" class="carousel_image">&nbsp;</div>

                            <div class="carousel_caption" id="carousel_caption_{id}">
                                <div id="carousel_text_holder_{id}" class="editable">
                                    <p><strong>Carousel Item {number}</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="carousel" class="carousel slide">

                        <!-- Carousel items -->
                        <div id="carousel_inner" class="carousel-inner">
                            <div class="active item" id="carousel_item_1">
                                <div id="carousel_image_1" class="carousel_image">&nbsp;</div>

                                <div class="carousel_caption" id="carousel_caption_1">
                                    <div id="carousel_text_holder_1" class="editable">
                                        <p><strong>Carousel Item 1</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item" id="carousel_item_2">
                                <div id="carousel_image_2" class="carousel_image">&nbsp;</div>

                                <div class="carousel_caption" id="carousel_caption_2">
                                    <div id="carousel_text_holder_2" class="editable">
                                       <p><strong>Carousel Item 2</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Carousel nav -->
                    <div id="carousel_nav">
                        <a class="carousel-control left" href="#carousel" data-slide="prev">Previous</a>
                        <a class="carousel-control right" href="#carousel" data-slide="next">Next</a>
                    </div>


            </div>
            <!-- START default Text_and_Images Image_Behind -->