
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background" class="editable-add-option">
                        
                    <div class="edit-add-option-template hide" data-parent="#carousel_inner">
                        <div class="item hide" id="carousel_item_{number}">
                            <div id="carousel_image_{number}" class="editable edit-delete-parent edit-image edit-resize edit-resize-height edit-inset carousel_image">&nbsp;</div>

                            <div class="carousel-caption editable edit-resize edit-move edit-color edit-font-size" id="carousel_caption_{number}">
                                <div id="carousel_text_holder_{number}" class="editable edit-inset edit-html">
                                    <h3>Carousel Item {number}</h3>
                                    <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="carousel" class="carousel slide">

                        <!-- Carousel items -->
                        <div id="carousel_inner" class="carousel-inner">
                            <div class="active item" id="carousel_item_1">
                                <div id="carousel_image_1" class="editable edit-delete-parent edit-image edit-resize edit-resize-height edit-inset carousel_image">&nbsp;</div>

                                <div class="carousel-caption editable edit-resize edit-move edit-color edit-font-size" id="carousel_caption_1">
                                    <div id="carousel_text_holder_1" class="editable edit-inset edit-html">
                                        <h3>Carousel Item 1</h3>
                                        <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item" id="carousel_item_2">
                                <div id="carousel_image_2" class="editable edit-delete-parent edit-image edit-resize edit-resize-height edit-inset carousel_image">&nbsp;</div>

                                <div class="carousel-caption editable edit-resize edit-move edit-color edit-font-size" id="carousel_caption_2">
                                    <div id="carousel_text_holder_2" class="editable edit-inset edit-html">
                                        <h3>Carousel Item 2</h3>
                                        <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                        <!-- Carousel nav -->
                    <div id="carousel_nav">
                        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
                    </div>


            </div>
            <!-- START default Text_and_Images Image_Behind -->