
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">
                
                <div id="image" class="editable edit-image edit-image-always-show-placeholder edit-resize edit-resize-height edit-inset">

                    <div id="overlay" class="editable edit-animation edit-resize edit-move edit-color">
                        <div id="text_content" class="editable edit-html">
                            <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>

                        </div>
                    </div>


                </div>
                
            </div>
            <!-- START default Text_and_Images Image_Behind -->