
#background {
	height:500px;
	position:relative;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    min-height: 100px;
    left: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 14px 24px 6px 24px;
    position: absolute;
    top: 350px;
    width: 500px;
}
#image {
	width:100%;
	height:600px;

	height:500px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
@media (max-width: 480px) {
    html #overlay {
        left: 0px;
        bottom:0px;
        width:auto;
        height:auto;
        border-radius:0;
        top:auto;
        font-size: 1.1em;
        line-height: 1.2em;
    }
    html #image {
        border-radius:0;
    }
}