
#background {
	position:relative;
}

.text_box {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px 10px 10px 10px;
    color: #000;
    min-height: 30px;
    left: 20px;
    top: 20px;
    padding: 14px 24px 6px 24px;
    position: absolute;
    width: 500px;
}

#overlay_1 {
    top:200px;
    left:50px;
}

#overlay_2 {
    top:325px;
    left:100px;

}

#image {
	width:100%;
	height:600px;

	height:500px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
        max-width:500px;
    }
}
@media (max-width: 480px) {
    html .text_box {
        left: 0px;
        bottom:0px;
        width:auto;
        height:auto;
        margin-bottom:20px;
        border-radius:0;
        top:auto;
        position:relative;
    }
    html #image {
        padding-top:120px;
        padding-bottom: 20px;
        height:auto;
    }
}
@media (max-width: 480px) {
    html #image {
        border-radius:0;
    }
}