
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">
                
                <div id="image">

                    <div class="add-option-template hide">
                        <div id="overlay_{id}" class="text_box">
                            <div id="text_content_{id}" class="text_content">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                    </div>

                    <div id="overlay_1" class="text_box">
                        <div id="text_content_1" class="text_content">
                            <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                        </div>
                    </div>

                    <div id="overlay_2" class="text_box">
                        <div id="text_content_2" class="text_content">
                            <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                        </div>
                    </div>

                </div>
                
            </div>
            <!-- START default Text_and_Images Image_Behind -->