
#background {
	position:relative;
}

.text_box {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px 10px 10px 10px;
    color: #000;
    min-height: 30px;
    left: 20px;
    top: 20px;
    position: absolute;
    width: 50%;
}
.text_content {
    padding: 14px 24px 6px 24px;
}

#overlay_1 {
    top:17%;
    left:35%;
}

#overlay_2 {
    top:65%;
    left:10%;
}

#image {
	width:auto;
	height:600px;
	height:500px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
        max-width:500px;
    }
}
@media (max-width: 480px) {
    html .text_box {
        left: 0px;
        bottom:0px;
        width:auto;
        margin-bottom:20px;
        top:auto;
        position:relative;
        margin-left:10px;
        margin-right:10px;
    }
    html #image {
        padding-top:120px;
        padding-bottom: 20px;
    }
    html #image {
        border-radius:0;
    }
}