
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">
                
                <div id="text_wrapper" class="span11">

                    <div id="text_content">
                        <p>This accordian template allows you to explain several aspects of a topic on the same page. The learner can read through the topics at their own pace.</p>
                    </div>

                    <div class="tabbable">

                        <div class="add-option-template hide" data-parent="#tab_menu">
                            <li id="tab_link{id}"><a href="#tab{id}" data-toggle="tab" class="tab">Title of Section {number}</a></li>
                        </div>
                        
                        <div class="add-option-template hide" data-parent="#tab_content">
                            <div class="tab-pane hide" id="tab{id}">
                                <div id="image{id}" class="pull-left image">&nbsp;</div>
                                <div id="text_content{id}" class="text_content">
                                    <p>Text Section {number}: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" id="tab_menu">
                            <li id="tab_link1"><a href="#tab1" data-toggle="tab" class="tab">Title of Section 1</a></li>
                            <li id="tab_link2"><a href="#tab2" data-toggle="tab">Title of Section 2</a></li>
                        </ul>

                        <div class="tab-content" id="tab_content">
                            <div class="tab-pane" id="tab1">
                                <div id="image1" class="pull-left image">&nbsp;</div>
                                <div id="text_content1" class="text_content">
                                    <p>Text Section 1: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div id="image2" class="pull-left image">&nbsp;</div>
                                <div id="text_content2" class="text_content">
                                    <p>Text Section 2: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!-- START default Text_and_Images Image_Behind -->