
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">

                <div id="text_wrapper" class="span10">

                    <div id="text_content">
                        <p>This buildup template allows you to explain a topic in series of steps. The learner can read through the topics at their own pace.</p>
                    </div>
                </div>

                <div class="buildup clearfix" id="buildup">
                    <div class="add-option-template hide">
                        <div class="buildup-item build-up-follow-on no-resize" id="buildup_{{element.id}}">
                            <div id="image_{{element.id}}" class="image">&nbsp;</div>
                            <div id="buildup_item_text_{{element.id}}" class="text_content">
                                <p>This is an ideal place to enrich your learner's understanding of your topic.</p>
                            </div>
                            <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                        </div>
                    </div>

                    <div class="buildup-item" id="buildup_1">
                        <div id="image_1" class="image">&nbsp;</div>
                        <div id="buildup_item_text_1" class="text_content">
                            <p>This is an ideal place to enrich your learner's understanding of your topic.</p>
                        </div>
                        <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                    </div>

                    <div class="buildup-item build-up-follow-on no-resize" id="buildup_2">
                        <div id="image_2" class="image">&nbsp;</div>
                        <div id="buildup_item_text_2" class="text_content">
                            <p>This is an ideal place to enrich your learner's understanding of your topic.</p>
                        </div>
                        <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                    </div>

                    <div class="buildup-item build-up-follow-on no-resize" id="buildup_3">
                        <div id="image_3" class="image">&nbsp;</div>
                        <div id="buildup_item_text_3" class="text_content">
                            <p>This is an ideal place to enrich your learner's understanding of your topic.</p>
                        </div>
                        <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                    </div>

                    <div class="buildup-item build-up-follow-on no-resize" id="buildup_4">
                        <div id="image_4" class="image">&nbsp;</div>
                        <div id="buildup_item_text_4" class="text_content">
                            <p>This is an ideal place to enrich your learner's understanding of your topic.</p>
                        </div>
                        <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                    </div>

                </div>

            </div>
            <!-- START default Text_and_Images Image_Behind -->