
#text_wrapper {
    padding-left:20px;
}

#accordion {
}

#text_content {
    padding-bottom:10px;
    padding-top:20px;
}

.accordion-group {
	margin-bottom:5px;
	box-shadow: 1px 3px 5px 1px rgba(60, 30, 30, 0.1);

}

a.accordion-toggle {
	border-radius: 4px 4px 0 0;
	font-weight:bold;
	font-size:1.2em;
	text-decoration: none;
	opacity: 1;
}

a.accordion-toggle.collapsed {
	border-radius: 4px;
}

.image {
	float:left;
	width:250px;
	height:250px;
	margin-right:20px;
	margin-bottom:20px;
}

.image + .text_content {
	float:left;
	width: 475px;
}

@media (max-width: 979px) { 
    html .image + .text_content {   
    	width: 290px;
    }
}

@media (max-width: 768px) {
    html .accordion-group {
        border-radius: 0;
        border:0;
    }
    html a.accordion-toggle {
        border-radius: 0;
    }

	html #text_content {
		padding:20px 20px 5px 20px;
	}
	html .accordion {
    	padding-bottom: 10px;
	}
	html .accordion-inner {
    	padding-bottom: 10px;    
    	overflow: hidden;
	}

	html #text_wrapper {
	    padding-left:0px;
	}
}