
            <!-- START default Text_and_Images Image_Behind -->
            <div id="background">

                <div id="text_wrapper" class="span10">

                    <div id="text_content">
                        <p>This accordian template allows you to explain several aspects of a topic on the same page. The learner can read through the topics at their own pace.</p>
                    </div>

                    <div class="accordion" id="accordion">
                        
                        <div class="add-option-template hide">
                            <div class="accordion-group" id="accordian_item_{id}">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{id}" id="accordian_collapse_heading{id}">
                                        Title of section {number}
                                    </a>
                                </div>
                                <div id="collapse{id}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div id="image_{id}" class="image">&nbsp;</div>
                                        <div id="accordian_collapse_content{id}" class="text_content">
                                            <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group editable edit-delete" id="accordian_item_1">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="accordian_collapse_heading1">
                                    Title of section 1
                                </a>
                            </div>
                            <div id="collapse1" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div id="image_1" class="image">&nbsp;</div>
                                    <div id="accordian_collapse_content1" class="text_content">
                                        <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group editable edit-delete" id="accordian_item_2">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="accordian_collapse_heading2">
                                    Title of section 2
                                </a>
                            </div>
                            <div id="collapse2" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div id="image_2" class="image">&nbsp;</div>
                                    <div id="accordian_collapse_content2" class="text_content">
                                        <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- START default Text_and_Images Image_Behind -->