
            <!-- START default Text_and_Images Image_Top -->
            <div id="background">

                <div id="video"></div>

                <div id="text_content">
                    <p>This is an ideal place to put some text to introduce your learning topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                </div>

                <div id="transcript_link" class="editable edit-delete">
                    <a class="editable edit-text" data-toggle="modal" href="#transcript_modal">Transcript</a>
                </div>

                <div id="transcript_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="transcript_modal_label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h3 id="transcript_modal_label">Transcript</h3>
                    </div>
                    <div class="modal-body" id="hotspot_modal_1_text">
                        <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>

            </div>
            <!-- START default Text_and_Images Image_Top -->