
#hotspot_image {
    width:100%;
    height:600px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

#overlay {
	background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px 10px 10px 10px;
    min-height: 100px;
    left: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 14px 24px 6px 24px;
    position: absolute;
    top: 350px;
    width: 500px;
}

@media (max-width: 480px) {
    html #overlay {
        left: 0px;
        bottom:0px;
        width:auto;
        height:auto;
        border-radius:0;
        top:auto;
        font-size: 1.1em;
        line-height: 1.2em;
    }
    html #hotspot_image {
        border-radius:0;
    }
}

.hotspot {
    position:absolute;

    left:70px;
    top:100px;

    width:140px;
    height:140px;

    background-color:rgba(255,255,255,0.3);

    border-radius: 50%;
    cursor: pointer;

    text-decoration: none;
}
#hotspot1 {
    left:270px;
    top:100px;
}

#hotspot2 {
    left:450px;
    top:50px;
}

#hotspots {
    position:relative;
}
