
            <!-- START default Text_and_Images Image_Behind -->

            <div id="hotspot_wrapper">
                    
                <div class="add-option-template hide" data-parent="#hotspot_image">
                    <a class="hotspot" id="hotspot{id}" data-toggle="modal" href="#hotspot_modal_{id}"></a>
                </div>

                <div class="add-option-template hide" data-parent="#hotspot_modal_wrapper">
                    <div id="hotspot_modal_{id}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_{id}_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="hotspot_modal_{id}_label">Hotspot title {number}</h3>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="popup_image" id="hotspot_modal_{id}_image"></div>
                            <div class="popup_text" id="hotspot_modal_{id}_text">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>

                </div>
                
                <div id="hotspot_image">
                    <a class="hotspot" id="hotspot1" data-toggle="modal" href="#hotspot_modal_1"></a>
                    <a class="hotspot" id="hotspot2" data-toggle="modal" href="#hotspot_modal_2"></a>
                </div>

                <div id="hotspot_modal_wrapper">

                    <div id="hotspot_modal_1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_1_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="hotspot_modal_1_label">Hotspot 1 title</h3>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="popup_image" id="hotspot_modal_1_image"></div>
                            <div class="popup_text" id="hotspot_modal_1_text">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>

                    <div id="hotspot_modal_2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_2_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="hotspot_modal_2_label">Hotspot 2 title</h3>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="popup_image" id="hotspot_modal_2_image"></div>
                            <div class="popup_text" id="hotspot_modal_2_text">
                                <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>

                </div>

            </div>

            <div id="overlay" class="editable edit-resize edit-resize-relative edit-move edit-color edit-border">
                <div id="text_content" class="editable edit-html">
                    <p><strong>This is an ideal place</strong> to put some text to introduce your learning topic. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>

                </div>
            </div>

            <!-- START default Text_and_Images Image_Behind -->